@font-face {
    font-family: "IndieFlower";
    src: url(../assets/fonts/IndieFlower-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IndieFlower";
}

body{
    margin: 0 auto;
    max-width: 1000px;
    min-width: 400px;
    background-color: lavender;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#urano img{
    width: 40em;
    transform-style: preserve-3d;
    animation: rotate 60s linear infinite;
}

main{
    display: grid;
    grid-template-areas: 
    "introduccion introduccion"
    "caracteristicas curiosidades";
}

article{
    border: 1px solid black;
}

#introduccion{
    grid-area: introduccion;
}
#caracteristicas{
    grid-area: caracteristicas;
}
#curiosidades{
    grid-area: curiosidades;
}