#planeta{
    background: url(../assets/images/martemapa.webp);
    transform: none;
}
article, #introduccion{
    border: 2px solid #FF5733;
}
#introduccion{
    background-color: rgba(184, 233, 246, 0.8);
    color: #0c0b0b;
}
    footer {
        border-top: 2px solid #FF5733;
        box-shadow: 0 0 50px 30px #FF4500; 
        
      }
      

h1{
    color: #B36B52
    ; 
    text-shadow: 
        0px 0px 5px rgba(255, 255, 255, 1), 
        0px 0px 10px rgba(255, 255, 255, 1), 
        0px 0px 15px rgba(255, 255, 255, 1),
        2px -16px 10px rgba(195,84,0,1),
     7px -16px 10px rgba(195,84,0,1),
    -19px 3px 10px rgba(195,84,0,1),
    2px 16px 10px rgba(195,84,0,1),
        0px 0px 75px rgb(255, 210, 112);
}

@keyframes rotate{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -2048px;
    }
}

#astronauta{
    height: 16em;
    background: url(../assets/images/satelite.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (max-width: 800px) {
    #astronauta{
        height: 12em;
    }
}