#planeta{
    background: url(../assets/images/saturnoMapa.webp);
    transform: none;
}

h1{
    color: #636868; 
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1), 0px 0px 10px rgba(255, 255, 255, 1), 0px 0px 15px rgba(255, 255, 255, 1), 2px -16px 10px rgba(221, 176, 141), 7px -16px 10px rgba(221, 176, 141), -19px 3px 10px rgba(221, 176, 141), 2px 16px 10px rgba(221, 176, 141), 0px 0px 75px rgb(255, 210, 112);     
}
article, #introduccion{
    border: 2px solid rgba(206, 187, 138, 0.5);
}
#introduccion{
    background-color: rgba(184, 233, 246, 0.8);
    color: #0c0b0b;
}

@keyframes rotate{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -818px;
    }
}
footer{
    box-shadow: 0 0 100px 5px rgba(206, 187, 138, 0.5);

}

#astronauta{
    height: 16em;
    background: url(../assets/images/cohete.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (max-width: 800px) {
    #astronauta{
        height: 12em;
    }
}