#btnEspanol,
#btnEnglish {
  padding: 5px;
  font-size: 14px;
  background-color: transparent;
  border: none;
}

.btn-small {
  padding: 5px;
  font-size: 14px;
}

#btnEspanol img,
#btnEnglish img {
  width: 40px;
  height: 40px;
}

section {
  display: grid;
  grid-template-areas:
    "planetaContenido planetaContenido"
    "introduccion introduccion"
    "caracteristicas curiosidades";
}

#planetaContenido {
  grid-area: planetaContenido;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#marte {
  background: url(../assets/images/mapasPlanetas/martemapa.webp);
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background-size: cover;
  background-position: bottom;
  box-shadow: inset 0 0 20px #000, inset -40px -10px 20px rgba(3, 32, 56, 0.7);

  animation: mercurio 40s linear infinite;
}

@keyframes mercurio {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -2048px;
  }
}

#planetaContenido p{
  font-size: 2em;
  padding: 1em 0;
  color: #ffffff;
}

h1 {
  color: #B36B52;
  text-shadow:
    0px 0px 5px rgba(255, 255, 255, 1),
    0px 0px 10px rgba(255, 255, 255, 1),
    0px 0px 15px rgba(255, 255, 255, 1),
    2px -16px 10px rgba(195, 84, 0, 1),
    7px -16px 10px rgba(195, 84, 0, 1),
    -19px 3px 10px rgba(195, 84, 0, 1),
    2px 16px 10px rgba(195, 84, 0, 1),
    0px 0px 75px rgb(255, 210, 112);
}

article,
#introduccion {
  border: 2px solid #FF5733;
}
#astronauta {
  height: 16em;
  background: url(../assets/images/satelite.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#btn1:hover {
  background-image: url(../assets/images/imagesNav/3tierra.webp);
}

#btn2:hover {
  background-image: url(../assets/images/imagesNav/5jupiter.webp);
}
@media screen and (max-width: 800px) {
  section {
    grid-template-areas:
      "planetaContenido"
      "introduccion"
      "caracteristicas"
      "curiosidades";
  }

  #planetaContenido {
    grid-area: planetaContenido;
  }

  #planetaContenido p {
    font-size: 1.4em;
  }

  #marte {
    height: 15em;
    width: 15em;
  }

  #astronauta {
    height: 12em;
  }
}